



html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
	font-family: "Baron Neue",sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

button{
  min-height: 0px;
  min-width: 0px;
  line-height: 16px;
  border-width: 2px;
  margin: 20px;
  border-radius: 500px;
  padding: 12px 51px;
  letter-spacing: 0px;
  font-size: 12px;
  border: 5px solid #ddd;
  background: #03acdc;
  border-color: #03acdc;
  text-decoration: none !important;
  color: #fff !important;
}

.selectCadastro {
    margin: 20px;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    /*background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;*/
}

.selectCadastro select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.selectCadastro select:focus {
    outline: none;
}

.botaologin{
  min-height: 0px;
  min-width: 0px;
  line-height: 16px;
  border-width: 2px;
  margin: 20px;
  border-radius: 500px;
  padding: 12px 51px;
  letter-spacing: 0px;
  font-size: 12px;
  border: 5px solid #ddd;
  background: #03acdc;
  border-color: #03acdc;
  text-decoration: none !important;
  color: #fff !important;
}




a {
  color: #03ACDC;
  text-decoration: none;
}

a:hover, a:active {
  color: #FFCA28;
}

#wrapper {
  width: 100%;
}

.section-white {
  width: 70%;
  margin: auto;
  text-align: center;
}

.tituloPagina {
  color: rgba(3,172,220,1);
  font-family: "Baron Neue",sans-serif;
  font-size: 32;
}

.listaOp {
  padding: 0;
  list-style-type: none;
}

.repositorio {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

.repositorio a:hover, .repositorio a:active {
  color: #B9C1CA;
}

.repositorio thead {
  color: #FFCA28;
  border-bottom: 1px solid #B9C1CA;
}

.repositorio th {
  padding: 0.5em;
}

.repositorio td {
  padding: 0.5em 0.5em 0.25em 0.5em;
}

.repositorio .nomeItem {
  text-align: left;
  padding-left: 1em;
}



/* Shoko */



.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 300px;
  width: calc(100% - 2em);
  vertical-align: top;
  color: black !important;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: black !important;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; 
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: black !important;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  color: black !important;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  color: black !important;
}

.icon {
  color: #ddd;
  font-size: 150%;
}


.input--shoko {
  overflow: hidden;
  padding-bottom: 2.5em;
  color: black !important;
}

.input__field--shoko {
  padding: 0;
  margin-top: 1.2em;
  width: 100%;
  background: transparent;
  color: black !important;
  font-size: 1.55em;
}

.input__label--shoko {
  
  position: absolute;
  top: 2em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black !important;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.3s 0.1s, color 1s;
  transition: transform 0.3s 0.1s, color 1s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.graphic--shoko {
  stroke: black !important;
  pointer-events: none;
  stroke-width: 1px;
  top: 1.25em;
  bottom: 0px;
  height: 3.275em;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--shoko:focus + .input__label--shoko,
.input--filled .input__label--shoko {
  color: black !important;
  -webkit-transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
  transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
}

.input__field--shoko:focus ~ .graphic--shoko,
.input--filled .graphic--shoko {
  stroke: black !important;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
  color: black;
}
*/